:root {
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

picture, source, img {
	display: block;
}

html {
}

body {
	background: rgba(0,0,0,0.9);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;

	z-index: 1;
}

header address {
	color: gray;
	font-size: 12px;
	font-family: sans-serif;
	font-style: normal;
	line-height: 20px;
	text-align: right;
}

main ul {
	line-height: 0;
}

main li:first-child {
	margin-top: 100vh;
}

main li + li {
	margin-top: 1rem;
}

main li {
	position: relative;
}

main div {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

main p {
	position: sticky;
	top: 0;

	padding: 20px;

	color: gray;
	font-size: 12px;
	font-family: sans-serif;
	font-style: normal;
	line-height: 20px;
	text-align: left;
}

main img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

@media screen and (orientation:portrait) {
	header img {
		/*width: 100%;*/
		width: 100px;
	}
}

@media screen and (orientation:landscape) {
	header img {
		width: 100px;
	}
}
